* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

button {
  border-radius: 0.5rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas {
  z-index: 2;
}

.canvas-bg {
  z-index: 1;
}

.hidden {
  display: none !important;
  opacity: 0;
  pointer-events: none;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.UI {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(225, 225, 225);
}

.inline-container {
  display: flex;
  gap: 2rem;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: 100ms ease-in-out;
  border-radius: 0.2rem;
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.icon-button img {
  width: 1rem;
  height: 1rem;
}

nav {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
}

.navbar-button-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.ui-name {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.ui-card-middlepart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ui-progressbars div,
.ui-values div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.ui-values {
  margin-top: 1.5rem;
}

.ui-success {
  color: #00b017;
}

.ui-error {
  color: red;
}

.ui-section-wrapper {
  width: 100%;
  height: 95%;
  position: relative;
}

.iu-section-command,
.iu-section-settings {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}

.hidden {
  display: none;
  opacity: 0;
}
.ui-male {
  color: rgb(40, 165, 255);
}
.ui-female {
  color: rgb(252, 19, 244);
}
.ui-unimportant {
  font-size: 0.8rem;
  color: rgb(150, 150, 150);
}

#command-section-population-list {
  padding: 2rem;
  width: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.6);
}

.ui-human-infocard {
  padding: 1.25rem;
  width: 100%;
  max-width: 20rem;
  background-color: black;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.ui-inventory-wrapper {
  margin-top: 1rem;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem 0 1rem 0;
}

.ui-inventory-wrapper div {
  width: 100%;
  display: flex;
}

.ui-inventory-wrapper div span {
  margin-left: auto;
}

.ui-state {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.ui-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

progress {
  height: 0.4rem;
  border: none;
  width: 100%;
}

#pb-hunger::-moz-progress-bar,
#pb-hunger::-webkit-progress-bar {
  background: #f08a65;
}

#pb-thirst::-moz-progress-bar,
#pb-thirst::-webkit-progress-bar {
  background: #65a1f0;
}

#pb-mating::-moz-progress-bar,
#pb-mating::-webkit-progress-bar {
  background: #e66cdf;
}

#pb-pregnancy::-moz-progress-bar,
#pb-pregnancy::-webkit-progress-bar {
  background: #00b017;
}

#pb-hunger::-webkit-progress-value {
  background: #f08a65;
}

#pb-thirst::-webkit-progress-value {
  background: #65a1f0;
}

#pb-mating::-webkit-progress-value {
  background: #e66cdf;
}

#pb-pregnancy::-webkit-progress-value {
  background: #00b017;
}

.ui-human-card-layout {
  display: flex;
  gap: 3rem;
}
.setings-group-section ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.setings-group-section ul li {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input {
  background-color: rgba(144, 144, 144, 0.2);
  border: none;
  border-radius: 2px;
  color: white;
  padding: 0.25rem;
  margin-top: 0.25rem;
}

.command-section-settings-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  overflow-y: auto;
}

.command-section-settings-wrapper h3 {
  padding-bottom: 1rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.button-group button {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  background-color: rgba(255, 255, 255, 0.193);
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: rgba(255, 255, 255, 0.364);
}

.groups-wrapper {
  display: flex;
  gap: 4rem;
}

@media screen and (max-width: 800px) {
  .groups-wrapper {
    flex-direction: column;
  }
}

@media (width < 800px) {
  .ui-human-card-layout {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 400px) {
  #command-section-population-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    font-size: 12px;
  }

  .inline-container {
    gap: 0.5rem;
  }
}
